%h1 Welcome
<<<<<<< HEAD

It's #{Time.now}
We have #{pluralize(@total_orders, 'order')}
=======
It's #{Time.now}
We have #{pluralize(@total_orders, "order")}
>>>>>>> 37ec9fad3749c8105f563bb14609dd20b417f156
