Dear #{@order.name}

Thank you for your recent order from The Pragmatic Store.

You ordered the following items:

= render @order.line_items

<<<<<<< HEAD
We'll send you a separate e-mail when your order ships.
=======
We'll send you a separate e-mail when your order ships.
>>>>>>> 37ec9fad3749c8105f563bb14609dd20b417f156
