<<<<<<< HEAD
= sprintf("%2d x %s", line_item.quantity, truncate(line_item.product.title, length: 50))
=======
= sprintf("%2d x %s", line_item.quantity, truncate(line_item.product.title, length: 50)
>>>>>>> 37ec9fad3749c8105f563bb14609dd20b417f156
